.sidebar {
  border-right: 1px solid #e0e0e0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  padding-top: 11px;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar-open {
  width: 260px;
  padding: 20px;
  padding-top: 11px;
}

.sidebar-closed {
  width: 0;
  padding: 0;
  border-right: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  width: auto;
}

.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-toggle:hover {
  background-color: #f5f5f5;
}

.sidebar-close-icon {
  width: 28px;
  height: 28px;
}

.sidebar-new-chat {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.new-chat-large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: background-color 0.2s;
}

.new-chat-large-button:hover {
  background-color: #e9e9e9;
}

.new-chat-large-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.settings-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  transition: background-color 0.2s;
  width: 100%;
  justify-content: flex-start;
}

.settings-button:hover {
  background-color: #f5f5f5;
}

.settings-icon {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.about-button {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 7px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  transition: background-color 0.2s;
  width: 100%;
  justify-content: flex-start;
}

.about-button:hover {
  background-color: #f5f5f5;
}

.about-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.sidebar-body {
  flex: 1;
  overflow-y: auto;
}

.sidebar-body p {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-body p:hover {
  background-color: #f5f5f5;
}
